/* #animations
--------------------------------------------------*/


/* Float
-----------------------------------------------------------------------------------*/

.po-floating{
	animation-name: po-floating;
	-webkit-animation-name: po-floating;

	animation-duration: 3.5s;	
	-webkit-animation-duration: 3.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes po-floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(12%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes po-floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(12%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

/* Bounce In
-----------------------------------------------------------------------------------*/

.po-bounce-in
{
	-webkit-animation:	po-bounce-in 0.4s ease-out backwards;
	-moz-animation:		po-bounce-in 0.4s ease-out backwards;
	-ms-animation:		po-bounce-in 0.4s ease-out backwards;
	-o-animation:		po-bounce-in 0.4s ease-out backwards;
	animation:			po-bounce-in 0.4s ease-out backwards;

	
}

@-webkit-keyframes 	po-bounce-in { 0%	{ opacity:0; -webkit-transform:scale3d(0.5, 0.5, 1); transform:scale3d(0.5, 0.5, 1) }
							   50%	{ -webkit-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ opacity:1;-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1) }
							 }
@-moz-keyframes 	po-bounce-in { 0%	{ opacity:0; -moz-transform:scale3d(0.5, 0.5, 1); transform:scale3d(0.5, 0.5, 1) }
							   50%	{ -moz-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ opacity:1; -moz-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							 }
@-o-keyframes 		po-bounce-in { 0% 	{ opacity:0; -o-transform:scale3d(0.5, 0.5, 1); transform:scale3d(0.5, 0.5, 1) }
							   50%	{ -o-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ opacity:1; -o-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							 }
@-ms-keyframes 		po-bounce-in { 0%	{ opacity:0; -ms-transform:scale3d(0.5, 0.5, 1); transform:scale3d(0.5, 0.5, 1) }
							   50%	{ -ms-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ opacity:1; -ms-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							 }

@keyframes 			po-bounce-in { 0%	{ opacity:0; transform:scale3d(0.5, 0.5, 1) }
							   50%	{ transform:scale3d(1.1, 1.1, 1) }
							   100% { opacity:1; transform:scale3d(1, 1, 1) }
							 }


/* Fade In Slow
-----------------------------------------------------------------------------------*/

.po-fade-in
{
	-webkit-animation:	po-fade-in 2.5s ease-out backwards;
	-moz-animation:		po-fade-in 2.5s ease-out backwards;
	-ms-animation:		po-fade-in 2.5s ease-out backwards;
	-o-animation:		po-fade-in 2.5s ease-out backwards;
	animation:			po-fade-in 2.5s ease-out backwards;
	
}

@-moz-keyframes 	po-fade-in	{ 0%	{ opacity:0; }
								  100%	{ opacity:1; }
								}

@-webkit-keyframes 	po-fade-in  { 0% 	{ opacity:0; }
								  100% 	{ opacity:1; }
								}

@-o-keyframes 		po-fade-in  { 0% 	{ opacity:0; }
								  100% 	{ opacity:1; }
								}

@-ms-keyframes 		po-fade-in	{ 0% 	{ opacity:0; }
								  100%	{opacity:1;}
								}

@keyframes 			po-fade-in  { 0% 	{ opacity:0; }
								  100%	{ opacity:1; }
								}

							

/* Expand
-----------------------------------------------------------------------------------*/
@media(min-width:768px){
.hover-ani:hover .icon-box-side,
.hover-ani:hover .icon-box,
.hover-ani:hover .icon-boxless,
.hover-ani:hover .icon-box-left,
.hover-ani:hover .icon-float,
.hover-ani:hover .po-icon-title,
.hover-ani:hover .po-icon,
.hover-ani:hover .icon-boxless-top

{
	-webkit-animation:	po-expand 0.4s ease-out forwards;
	-moz-animation:		po-expand 0.4s ease-out forwards;
	-ms-animation:		po-expand 0.4s ease-out forwards;
	-o-animation:		po-expand 0.4s ease-out forwards;
	animation:			po-expand 0.4s ease-out forwards;

	
}
}

@-webkit-keyframes 	po-expand { 0%	{ -webkit-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							   50%	{ -webkit-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ -webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1) }
							 }
@-moz-keyframes 	po-expand { 0%	{-moz-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							   50%	{ -moz-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ -moz-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							 }
@-o-keyframes 		po-expand { 0% 	{ -o-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							   50%	{ -o-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ -o-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							 }
@-ms-keyframes 		po-expand { 0%	{ -ms-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							   50%	{ -ms-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ -ms-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							 }

@keyframes 			po-bounce-in { 0%	{ transform:scale3d(1, 1, 1) }
							   50%	{ transform:scale3d(1.1, 1.1, 1) }
							   100% { transform:scale3d(1, 1, 1) }
							 }
							 
/* Expand Line
-----------------------------------------------------------------------------------*/
@media(min-width:768px){
.hover-ani:hover .icon-box-line,
.hover-ani:hover .count-line,
.hover-ani:hover .circular-line


{
	-webkit-animation:	po-expand-line 0.5s ease-out forwards;
	-moz-animation:		po-expand-line 0.5s ease-out forwards;
	-ms-animation:		po-expand-line 0.5s ease-out forwards;
	-o-animation:		po-expand-line 0.5s ease-out forwards;
	animation:			po-expand-line 0.5s ease-out forwards;

	
}
}

@media(max-width:767px){
@-webkit-keyframes 	po-expand-line { 
								0%	{ width: 20% }
							   50%	{ width: 40% }
							   100%	{ width: 30% }
							 }
@-moz-keyframes 	po-expand-line { 0%	{ width: 20% }
							   50%	{ width: 40% }
							   100%	{ width: 30% }
							 }
@-o-keyframes 		po-expand-line { 0%	{ width: 20% }
							   50%	{ width: 40% }
							   100%	{ width: 30% }
							 }
@-ms-keyframes 		po-expand-line { 0%	{ width: 20% }
							   50%	{ width: 40% }
							   100%	{ width: 30% }
							 }

@keyframes 			po-expand-line { 0%	{ width: 20% }
							   50%	{ width: 40% }
							   100%	{ width: 30% }
							 }

}

@media(min-width:768px){
@-webkit-keyframes 	po-expand-line { 
								0%	{ width: 50% }
							   50%	{ width: 80% }
							   100%	{ width: 70% }
							 }
@-moz-keyframes 	po-expand-line { 0%	{ width: 50% }
							   50%	{ width: 80% }
							   100%	{ width: 70% }
							 }
@-o-keyframes 		po-expand-line { 0%	{ width: 50% }
							   50%	{ width: 80% }
							   100%	{ width: 70% }
							 }
@-ms-keyframes 		po-expand-line { 0%	{ width: 50% }
							   50%	{ width: 80% }
							   100%	{ width: 70% }
							 }

@keyframes 			po-expand-line { 0%	{ width: 50% }
							   50%	{ width: 80% }
							   100%	{ width: 70% }
							 }

}

/* COLUMN ANIMATIONS
-----------------------------------------------------------------------------------*/

.fade-in-port

 {
	opacity:1;
}


/* Fade In 
-----------------------------------------------------------------------------------*/

.fade-in

 {
	-webkit-animation: fadeIn 0.65s ease forwards;
	-moz-animation: fadeIn 0.65s ease forwards;
	-ms-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
	to { opacity: 1; }
}

@-moz-keyframes fadeIn {
	to { opacity: 1; }
}

@-ms-keyframes fadeIn {
	to { opacity: 1; }
}

@keyframes fadeIn {
	to { opacity: 1; }
}

/* Move Up 
-----------------------------------------------------------------------------------*/

.move-up {
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	transform: translateY(50px);
	-webkit-animation: moveUp 0.65s ease forwards;
	-moz-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	to { transform: translateY(0); opacity: 1; }
}

/* Move Up Long
-----------------------------------------------------------------------------------*/

.move-up-long {
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.9s ease forwards;
	-moz-animation: moveUp 0.9s ease forwards;
	animation: moveUp 0.9s ease forwards;
}

@-webkit-keyframes moveUp {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	to { transform: translateY(0); opacity: 1; }
}

/* Move Up Short
-----------------------------------------------------------------------------------*/

.move-up-short {
	-webkit-transform: translateY(15px);
	-moz-transform: translateY(15px);
	-ms-transform: translateY(15px);
	transform: translateY(15px);
	-webkit-animation: moveUp 0.85s ease forwards;
	-moz-animation: moveUp 0.85s ease forwards;
	-ms-animation: moveUp 0.85s ease forwards;
	animation: moveUp 0.85s ease forwards;
}

@-webkit-keyframes moveUp {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@-ms-keyframes moveUp {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	to { transform: translateY(0); opacity: 1; }
}


/* Move Down
-----------------------------------------------------------------------------------*/

.move-down-short {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	transform: translateY(-15px);
	-webkit-animation: moveDown 0.85s ease forwards;
	-moz-animation: moveDown 0.85 ease forwards;
	animation: moveDown 0.85s ease forwards;
}

@-webkit-keyframes moveDown {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveDown {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveDown {
	to { transform: translateY(0); opacity: 1; }
}


/* Move Down
-----------------------------------------------------------------------------------*/

.move-down {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	transform: translateY(-50px);
	-webkit-animation: moveDown 0.65s ease forwards;
	-moz-animation: moveDown 0.65s ease forwards;
	animation: moveDown 0.65s ease forwards;
}

@-webkit-keyframes moveDown {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveDown {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveDown {
	to { transform: translateY(0); opacity: 1; }
}


/* Move Left
-----------------------------------------------------------------------------------*/

.move-left {
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	transform: translateX(50px);
	-webkit-animation: moveLeft 0.65s ease forwards;
	-moz-animation: moveLeft 0.65s ease forwards;
	animation: moveLeft 0.65s ease forwards;
}

@-webkit-keyframes moveLeft {
	to { -webkit-transform: translateX(0); opacity: 1; }
}

@-moz-keyframes moveLeft {
	to { -moz-transform: translateX(0); opacity: 1; }
}

@keyframes moveLeft {
	to { transform: translateX(0); opacity: 1; }
}


/* Move Right
-----------------------------------------------------------------------------------*/

.move-right {
	-webkit-transform: translateX(-50px);
	-moz-transform: translateX(-50px);
	transform: translateX(-50px);
	-webkit-animation: moveRIght 0.65s ease forwards;
	-moz-animation: moveRIght 0.65s ease forwards;
	animation: moveRIght 0.65s ease forwards;
}

@-webkit-keyframes moveRIght {
	to { -webkit-transform: translateX(0); opacity: 1; }
}

@-moz-keyframes moveRIght {
	to { -moz-transform: translateX(0); opacity: 1; }
}

@keyframes moveRIght {
	to { transform: translateX(0); opacity: 1; }
}

/* Bounce In
-----------------------------------------------------------------------------------*/

.bounce-in
{
	-webkit-animation:	bounce-in 0.5s ease-out forwards;
	-moz-animation:		bounce-in 0.5s ease-out forwards;
	-ms-animation:		bounce-in 0.5s ease-out forwards;
	-o-animation:		bounce-in 0.5s ease-out forwards;
	animation:			bounce-in 0.5s ease-out forwards;

	
}

@-webkit-keyframes 	bounce-in { 0%	{ opacity:0; -webkit-transform:scale3d(0.5, 0.5, 1); transform:scale3d(0.5, 0.5, 1) }
							   50%	{ -webkit-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ opacity:1;-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1) }
							 }
@-moz-keyframes 	bounce-in { 0%	{ opacity:0; -moz-transform:scale3d(0.5, 0.5, 1); transform:scale3d(0.5, 0.5, 1) }
							   50%	{ -moz-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ opacity:1; -moz-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							 }
@-o-keyframes 		bounce-in { 0% 	{ opacity:0; -o-transform:scale3d(0.5, 0.5, 1); transform:scale3d(0.5, 0.5, 1) }
							   50%	{ -o-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ opacity:1; -o-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							 }
@-ms-keyframes 		bounce-in { 0%	{ opacity:0; -ms-transform:scale3d(0.5, 0.5, 1); transform:scale3d(0.5, 0.5, 1) }
							   50%	{ -ms-transform:scale3d(1.1, 1.1, 1); transform:scale3d(1.1, 1.1, 1) }
							   100%	{ opacity:1; -ms-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1) }
							 }

@keyframes 			bounce-in { 0%	{ opacity:0; transform:scale3d(0.5, 0.5, 1) }
							   50%	{ transform:scale3d(1.1, 1.1, 1) }
							   100% { opacity:1; transform:scale3d(1, 1, 1) }
							 }
			
							 
/* Rotate In
-----------------------------------------------------------------------------------*/

.rotate-in {
	-webkit-animation:	rotateIn 0.5s ease-out forwards;
	-moz-animation:		rotateIn 0.5s ease-out forwards;
	-ms-animation:		rotateIn 0.5s ease-out forwards;
	-o-animation:		rotateIn 0.5s ease-out forwards;
	animation:			rotateIn 0.5s ease-out forwards;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(-200deg);
    -ms-transform: rotate(-200deg);
    transform: rotate(-200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

/* Roll In
-----------------------------------------------------------------------------------*/

.roll-in {
  -webkit-animation:	rollIn 0.6s ease-out forwards;
	-moz-animation:		rollIn 0.6s ease-out forwards;
	-ms-animation:		rollIn 0.6s ease-out forwards;
	-o-animation:		rollIn 0.6s ease-out forwards;
	animation:			rollIn 0.6s ease-out forwards;
}

@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    -ms-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    -ms-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}


/*
==============================================
pullUp
==============================================
*/

.pull-up{
	animation-name: pullUp;
	-webkit-animation-name: pullUp;	

	animation-duration: 0.6s;	
	-webkit-animation-duration: 0.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 		
	
	animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes pullUp {
	0% {
		opacity: 0;
		transform: scaleY(0.1);
	}
	40% {
		opacity: 1;
		transform: scaleY(1.02);
	}
	60% {
		opacity: 1;
		transform: scaleY(0.98);
	}
	80% {
		opacity: 1;
		transform: scaleY(1.01);
	}
	100% {
		opacity: 1;
		transform: scaleY(0.98);
	}				
	80% {
		opacity: 1;
		transform: scaleY(1.01);
	}
	100% {
		opacity: 1;
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullUp {
	0% {
		opacity: 0;
		-webkit-transform: scaleY(0.1);
	}
	40% {
		opacity: 1;
		-webkit-transform: scaleY(1.02);
	}
	60% {
		opacity: 1;
		-webkit-transform: scaleY(0.98);
	}
	80% {
		opacity: 1;
		-webkit-transform: scaleY(1.01);
	}
	100% {
		opacity: 1;
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		opacity: 1;
		-webkit-transform: scaleY(1.01);
	}
	100% {
		opacity: 1;
		-webkit-transform: scaleY(1);
	}		
}
