/* #clients
--------------------------------------------------*/

@media(min-width:992px){
.client-item img
{
	-webkit-transition:all .4s;
    -moz-transition:all .4s;
    -ms-transition:all .4s;
    -o-transition:all .4s;
    transition:all .4s;
	opacity:0.8;
}

.client-item:hover img
{
	
	-webkit-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
    -ms-filter:grayscale(100%);
    -o-filter:grayscale(100%);
    filter:grayscale(100%);
	opacity:0.3;
}

.client-item:not(:hover) img
{
	 -webkit-filter:grayscale(0%);
    -moz-filter:grayscale(0%);
    -ms-filter:grayscale(0%);
    -o-filter:grayscale(0%);
    filter:grayscale(0%);	
}





.client-item img:hover
{
	 -webkit-filter:grayscale(0%);
    -moz-filter:grayscale(0%);
    -ms-filter:grayscale(0%);
    -o-filter:grayscale(0%);
    filter:grayscale(0%);
	opacity:1;
	
}

.client-item img:not(:hover) img
{
	-webkit-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
    -ms-filter:grayscale(100%);
    -o-filter:grayscale(100%);
    filter:grayscale(100%);
	opacity:0.3;
	
}
}

.client-image {
	display: block;
	text-align: center;
}

.client-image .client-container {
	display: block;
	position: relative;
}

.client-image .client-container .client-details {
	opacity: 0.7;
	@include transition-fade(0.2s);
}


.client-image .client-container:hover .client-details {
	opacity: 0;
}

.client-details {

	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition-duration: 0.4s;
}