/* #modal
--------------------------------------------------*/

.modal-dialog
{
	top:50%;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 0px;
height: 0;
overflow: hidden;
background:#000;
}

.video-container iframe,  .video-container object,  .video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;}


@media(min-width:768px){
	.po-modal-lg
	{
		width:700px
	}
}

@media(min-width:992px){
	.po-modal-lg
	{
		width:900px
	}
}

.modal iframe
{
}

